.formulario {
    height: auto;
    width: 600px;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}
/* label */
.formulario_label {
    text-align: left;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

/*contenedor de input, imagen x, mensaje parrafo*/
.formulario_grupo_input {
    position: relative;
    width: 100%;
    justify-content: center;
}
/*input*/
.formulario_input {
    width: 95%;
    background: whitesmoke;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

/*input efecto focus*/
.formulario_input:focus {
    border: 3px solid rgb(33, 42, 51);
    outline: none;
    box-shadow: 3px 0px white;
}
.formulario_validacion_estado{
    display: none;
}

/*Parafo que contiene los mensajes de error*/
.formulario_input_error {
    width:100%;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    /* border: 1px solid red; */
    display: none;
    background-color: rgb(207, 109, 109);
    border-radius: 15px;
}
.block{
    display: block;
}

.formulario_boton{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formulario_boton:hover {
    background-color: gray;
    width: 11%;
    color: black;
}
.contenedoriframe{
    display: flex;
    justify-content: space-around;
}
/*Css Listado Contactos*/
table{
    background-color: rgba(240, 240, 243, 0.801);
    width:100%;
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
tr>td{
    

}
